[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json
[submodule "lib/doxygen"]
	path = lib/doxygen
	url = https://github.com/doxygen/doxygen.git
[submodule "lib/wiringPi"]
	path = lib/wiringPi
	url = https://github.com/WiringPi/WiringPi
[submodule "lib/wiringPI"]
	path = lib/wiringPI
	url = https://github.com/WiringPi/WiringPi
